
<%= render "layouts/header" %>

<body class="bg-secondary text-light d-flex align-items-stretch flex-wrap">
<div class="container-fluid text-warning">
	<p id="notice"><%= notice %></p>
</div>
<div class="container-fluid align-items-stretch bg-secondary">
<div class= "text-light  d-flex align-content-end flex-wrap ">
<div class="center jumbotron bg-secondary">       
  <% if @user_connected %>
    <div class= "text-light  d-flex align-content-end flex-wrap ">
	  <div class="center jumbotron bg-secondary">  
	 	  <%=image_tag("no_photo.png", alt: "Example Image")%>
	  </div>
	  </div>
    <h1>Bienvenue <%= @user_connected.first_name %> <%= @user_connected.last_name %>!</h1>
    <br/>
    <%= link_to "Le club secret :)", '/club', method: :get, class: "btn btn-lg btn-primary" %>
		<%= link_to "Mise à jour des données", '/users/'+session[:user_id].to_s+'/edit', method: :get, class: "btn btn-lg btn-primary" %>
    <%= link_to "Déconnexion", '/users', method: :post, class: "btn btn-lg btn-primary" %>

  <% else %>    
    <h1>Bienvenue visiteur anonyme!</h1>
    <br/>
    <h3>Enregistre ou connecte-toi pour accéder au club secret!</h3>
    <br/>
    <%= link_to "Enregistre-toi !", registrations_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Connecte-toi !", logins_path, class: "btn btn-lg btn-primary" %>
    <br/>
    <div class= "container container-table" >
	  <div class="col-xs-offset-4 vertical-center-row">  
    <br/>
	 	  <%=image_tag("index.png", alt: "Example Image", size: "750x250")%>
	  </div>
	  </div>
  <% end %>  

  
</div>
</div>
</div>

</body>
