<%= render "layouts/header" %>
<body class="bg-secondary text-light d-flex align-items-stretch flex-wrap">
<div class="container-fluid text-warning">
	<p id="notice"><%= notice %></p>
</div>
<div class="container-fluid align-items-stretch bg-secondary">
<div class= "text-light  d-flex align-content-end flex-wrap ">
<div class="center jumbotron align-items-center bg-secondary">     
  <h2> Profil de <%= @current_user.first_name %>
  <br/>
  <%=image_tag("img-fightclub.png", alt: "Example Image", size: "450x250")%>
    <ul>
      <li>Prénom : <%= @current_user.first_name %></li>
      <li>Nom : <%= @current_user.last_name%></li>
      <li>Mail : <%= @current_user.email%></li>
    <ul>
    <br/>
     
  </h2>
  <% if @user_connected.id ==@current_user.id %>
    <%= link_to "Clique ici pour modifier ton profil", '/users/' + @user_connected.id.to_s + '/edit', method: :get, class: "btn btn-lg btn-primary" %>
  <%end%> 

</div>
</div>
</div>
</body>